antlr4-python3-runtime==4.9.3
certifi==2026.7.22
charset-normalizer==3.5.1
colorlog==6.12.0
flatbuffers==25.12.19
idna==3.19
numpy==2.3.5
omegaconf==2.3.0
onnxruntime==1.29.0
opencv-python==4.14.0.94
opencv-python-headless==4.14.0.94
packaging==26.3
pillow==12.3.0
protobuf==7.36.1
pyclipper==1.4.0
PyYAML==6.0.2
rapidocr==3.9.2
requests==2.34.2
shapely==2.1.2
six==1.17.0
tqdm==4.70.0
urllib3==2.7.0
